@mixin info($height){
    margin: 0 auto;
    width:100%!important;
    height: 23.3em!important;
    background-color:$third-color;
}

@mixin img_box($img){
    background-image: url($img);
    background-size: cover;
    background-position: center;

}

@mixin info_box($height, $color){
    margin: 0 auto;
    width:100%!important;
    height: ($height);
    background-color:($color);
}